<div class="col-md-3">
  <ul class="list-group">
    <li ng-repeat="item in $ctrl.items" class="list-group-item" ui-sref="categories.listitems({itemId: item.short_name})">
      <div class="row">
        <div class="col-sm-10">
          <h5><strong>{{item.name}}</strong></h4>
          <span class="badge pull-right" style="background-color:#5cb85c;">{{item.short_name}}</span>
          <p>
            {{ item.special_instructions }}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
