<ul class="list-group">
    <li ng-if="list.items.length == 0" class="list-group-item list-group-item-danger text-center"><strong> Nothing found! </strong></li>
    <li ng-if="list.items.length >= 1" class="list-group-item active"><span class="badge">{{list.items.length}}</span><strong> Items containing: {{list.search}}</strong></li>
    <li ng-repeat="item in list.items" class="list-group-item">
        <div class="row">
            <div class="col-sm-10">
                <strong>{{item.name}}</strong> <span class="badge" style="background-color:#5cb85c;">{{item.short_name}}</span>
                <p style="font-style: italic;">{{item.description}}</p>
            </div>
            <div class="col-sm-2 text-right">
                <button ng-click="list.onRemove({index: $index});" class="btn btn-sm btn-danger" style="margin-top:10px;"><span class="glyphicon glyphicon-remove"></span> Don't want this one!</button>
            </div>
        </div>
    </li>
</ul>
